<link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
<h3> {{title}}</h3>
<form  method = "POST" action = "">
	Complaint: <input type = "text" name = "complaint">
	  Subway Line: <input type = "text"  name = "subwayLine">
	<input type = "submit" value = "Complain!">
</form>
