<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href= '../css/base.css'/>
  </head>
  <body>
  	<h1>{{title}}</h1>
  	<div id ="pic">
  		<img src = "/img/subway.jpeg" alt = "subway" height = "300"/>
  	</div>
  	<br>
  	<hr />
  	<br>
    {{{body}}}
    <br>
    <hr />


    <div id = "footer">
    	<a href ="/"> Complaint List </a>
		<a href = "/complain"> Complain </a>
		<a href = "/stats"> Stats </a>
    </div>
   	<hr />
   	<br>
  </body>
</html>