<link rel ='stylesheet' type='text/css' href='/css/bass.css'/>

<h3>ADD A REVIEW</h3>

<form method = "POST" action = "">
	Course Number: <input type = "text" name = "courseNumber">
	Course Name: <input type = "text" name = "courseName">
	Semester: <select name="semester">
		    <option value="all">All</option>
		    <option value="Spring">Spring</option>
		    <option value="Fall">Fall</option>
		    <option value="Summer">Summer</option>
  		</select>
	Year: <input type = "text" name = "year">
	Professor: <input type = "text" name = "professor">
	Review: <input type = "text" name = "review">
	<input type = "submit" value = "Submit">
</form>
