<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel='stylesheet' href= '/css/base.css'/>
	</head>
	<body>
		<div class="header">
	  		<h2>AITY 3 ISSA B</h2>
		</div>
		<div class="sidenav">
		  <a href="/">All Reviews</a>
		  <a href="/reviews/mine">My Reviews</a>
		  <a href="/reviews/add">Add a Review</a>
		</div>

			{{{ body }}}
			<br>
			<hr />
			<h4>Your session's total page visits: {{this.count}}</h4>
	</body>
</html>